.code {
    padding: 0px;
    background: lightgray;
    border-radius: 5px;
    display: inline-block;
}

.code * {
    margin: 5px;
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}