#name{
    background: transparent;
    width: 250px;
    height: 80px;
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    text-align: center;
    transition: width 1s;
    -webkit-transition: width 1s; /* Safari */
}

h2{
  color: white;
  font-family: "Overpass",sans-serif;
}

button{
  width: 500px;
  height: 70px;
  border-radius: 10%;
  border-color: black;
  background: rgb(75, 74, 74);
  transition: background 250ms ease-in-out;
  text-align: left;
}

button:hover{
  background: rgb(68, 68, 68);
}
button p{
  margin: 0;
  padding: 0;
  width: 300px;
  font-size: 32px;
  line-height: 70px;
}
button img{
  float: left;
  
  line-height: 70px;
  padding-right: 5px;
}
button .code{
  
  float: right;
  height: 25px;
  width: 25px;
}
#menu{
  display: inline-block;
  height: 80px;
  width: 500px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.button{
  width: 150px;
  height: 65px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  background: #1a1aff;
  transition: background 250ms ease-in-out;
  cursor: pointer;
}

.button p{
  font-size: 25px;
  line-height: 65px;
  font-family: "Overpass",sans-serif;
}

.button:hover{
  background: #0000cc;
}

#name h1{
  margin: 2px;
  font-family: "Overpass",sans-serif;
}

#name img{
   margin: 2px;
   cursor: pointer;
}
.active{
  width: 250px;
}
body{
  background: black;
}

#title {
    color: white;
}

#app {

    color: white;
    border: 1px white solid;
    width: 85%;
    height: auto;
    background: transparent;
    transition: all ease-out 100ms;
    cursor: pointer;
    margin: 0 auto;
    padding: 0;
    margin-top: 5px;

}

#app:hover{
  color: black;
  background: white;
  border: 1px black solid;
}
#app h3{
  float: left;
  padding-right: 20px;
  padding-left: 5px;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 5px;
}

#app p{
  float: left;
  padding-left: 5px;
  font-size: 15px;
  padding-top: 0;
  margin-top: 0;
}
#app #madeWith{
  padding:0;
  padding-right: 5px; 
  float: right;
}

*{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h2{
    text-align: center;
}
